build/*
*.cmake
*.o
CMakePresets.json
CMakeFiles/*
conanrun.sh
conanrunenv-release-x86_64.sh
deactivate_conanrun.sh
deactivate_conanbuild.sh
conanbuild.sh
conanbuildenv-release-x86_64.sh
r-type_client
r-type_server
Doxyfile/*
Testing/
a.out
*.txt
*.log
log1
test_sound.cpp
server
replays